<%- include('../reusable-code/navbar') %>

  <!-- Main Content -->
  <main class="p-10">
    <h2 class="text-4xl font-semibold mb-4">Welcome to Blogify!</h2>
    <p class="text-gray-300 mb-10">Write, read and share your ideas with the world. Start your blogging journey today!</p>
    <a href="/signup" class="bg-indigo-600 px-6 py-2 rounded text-white font-semibold hover:bg-indigo-700">Get Started</a>
  </main>

  
  <%- include('../reusable-code/footer') %>